a:not([class]) {
  background-size: 0px;
  &:hover {
    background-size: 0px;
  }
}
.site-footer > p {
  visibility: hidden;
}
.site-footer > p:after {
  content:"\A Copyright \00a9 2016-2020 jagrosh";
  visibility: visible;
}
body, body .side-bar, body .page-header, body .search-input {
  background-image: url("../../images/background.png");
  background-repeat: repeat;
  background-blend-mode: luminosity;
}
